* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-weight: 100;
    color: #777;
}

.container {
    background: rgb(237, 239, 240);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-card {
    min-height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .3);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 2rem;
}

.text {
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 18px;
    color:black;
    font-weight: 400;
}

.image {
    background-color: tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid gray;
    background: no-repeat center/cover url(../../assets/images/user.png);
    background-color: gray;
   /* <div>Icons made by <a href="https://www.flaticon.com/authors/becris"title="Becris">Becris</a>from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a></div> */
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;

}

.footer {
    background: linear-gradient(90deg, #1a2B96 0%, #d22B96 100%);
    height: 140px;
    border-radius: 0 0 10px 10px;
    position: relative;

}

.quote {
    font-size: 400%;
    float: right;
    opacity: .1;
    transform: rotate(10deg) translate(-10px, -40px);
    color: #4D3FA3;
}

.person {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 1.5rem;
    font-weight: 600;
}
.personposition {
    color: #f2f2f2;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 1rem;
    font-weight: 100;
}